<launch>
    <arg name="robot_name" default="alpha_rise"/>
    <node ns="$(arg robot_name)"
            name="fls_pcl_node" 
            pkg="fls_pcl" 
            type="fls_pcl.py"  
            output="screen">

        <!--Pub-->
        <remap from="/alpha_rise/fls/pointcloud" to="/alpha_rise/fls/pointcloud"/>
        <!--Sub-->
        <remap from="/alpha_rise/fls/data/image" to="/alpha_rise/fls/data/image"/>
    </node>
    <rosparam ns="$(arg robot_name)" command="load" file="$(find fls_pcl)/config/fls_params.yaml"/>

</launch>